* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

#header {
  height: 50vh;
  background: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.display {
  font-weight: 500 !important;
}

.icon {
  background: orange;
  border-radius: 100%;
  padding: 0.7rem;
}

.yellow_bg {
  background: rgb(255, 198, 92);
}

.check {
  height: 1.2rem;
  width: 1.2rem;
}

footer {
  background: #000;
}

.accordion-header {
  padding: 0.6rem 0;
}

form button,
form input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

form input {
  width: 80%;
  background: #000 !important;
}

